//-------------------post---------------------------

.posts {
  padding: ($gap * 5) 0;

  @include lg-md {
    padding: ($gap * 4) 0;
  }

  @include md {
    padding: ($gap * 3) 0;
  }
  &__container {
    @extend %container;
  }

  &__title {
    margin: 0 0 50px;
    font-size: $gap * 2;
    font-weight: 700;
    letter-spacing: 4px;

    @include lg-md {
      letter-spacing: 3.2px;
      font-size: 32px;
      margin: 0 0 ($gap * 2);
    }

    @include md {
      font-size: 24px;
      letter-spacing: 2.4px;
      margin: 0 0 30px;
    }

    @include sm {
      text-align: center;
    }
  }

  &__main-thing {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "ba ba bb bc"
      "bd be bf bf";
    grid-gap: $gap;
    margin: 0 0 20px;

    @include lg-md {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
      "ba ba bb"
      "bc bd bd"
      "be be bf";
    }

    @include md-sm {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
      "ba bb"
      "bc bd"
      "be bf";
    }

    @include sm {
      grid-template-columns: 1fr;
      grid-template-areas:
      "ba"
      "bb"
      "bc"
      "bd"
      "be"
      "bf";
    }
  }

  &__item {
    background-color: $color-gray-light;
    min-height: $width + 350;
    color: $color-gray;
    transition-property: background-color, color;
    transition-duration: 0.5s;

    &:nth-child(1) {
      grid-area: ba;
    }
    &:nth-child(2) {
      grid-area: bb;
    }
    &:nth-child(3) {
      grid-area: bd;
    }
    &:nth-child(4) {
      grid-area: bc;
    }
    &:nth-child(5) {
      grid-area: be;
    }
    &:nth-child(6) {
      grid-area: bf;
    }

    &:hover {
      color: $color-primary;
      background-color: ($color-gray-light - #222222);
      .posts__image {
        transform: scale(1.1);
      }
    }
  }

  &__link {
    display: block;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: inherit;
  }

  &__block-image {
    flex: 0 0 $gap * 15;
    overflow: hidden;
  }

  &__image {
    height: $height + 100;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s;
  }

  &__content {
    padding: ($gap / 2) $gap;
    flex: 1 0 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  &__item-title {
    font-family: $font-header;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: 0.9px;
    line-height: 20px;
  }

  &__text {
    line-height: 20px;
    letter-spacing: 0.9px;
  }

  &__button {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
